.appContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movieContainer {
  width: 20rem;
  border: 0.05rem solid black;
  margin: 1.3rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(40, 39, 39, 0.942);
}

.movieContainer img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.movieDetail {
  padding: 1.1rem;
}

.movieDetail p {
  font-size: 1.2rem;
}
